@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* margin: 0; */
  scroll-behavior: smooth;
  overflow: hidden;
  /* background-size: cover;  */
  /* background-position: center;  */
  /* background-repeat: no-repeat; */
}

.background{
  /* width: 100%;
  height: 100%; */
  background-image: url('/.assets/.background/bg-landing-page.png') no-repeat; 
  background-size: cover;
  background-position: center;
  /* background-repeat: no-repeat; */
}

.title h1{
 text-align: center;
 font-size: 30px;
 color: rgb(255, 0, 0);
}

.subtitle p{
  text-align: center;
  font-size: 20px;
  color: rgb(225, 255, 0);
}

.wrapper {
  width: 420px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, .2);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  color: #FFF;
  border-radius: 10px;
  padding: 30px 40px;
  transform: translateX(-50%);
}

.wrapper h1 {
  font-size: 36px;
  text-align: center;
}

.wrapper .input-box {
  width: 100%;
  height: 50px;
  margin: 30px 0;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, .2);
  border-radius: 40px;
  padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
  color: #FFF;
}

.input-box i {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}

.wrapper .remember-forgot {
  display: flex;
  justify-content: space-between;
  font-size: 14.5px;
  margin: 15px 0 15px;
}

.remember-forgot label input {
  accent-color: #FFF;
  margin-right: 3px;
}

.remember-forgot a {
  color: #FFF;
  text-decoration: none;
}

.remember-forgot a:hover {
  text-decoration: underline;
}

.wrapper .btn {
  width: 100%;
  height: 45px;
  background: #FFF;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 600;
}

.btn:hover { 
  background-color: #E5E5E5;
  color: #000;
}

.wrapper .register-link {
  font-size: 14.5px;
  text-align: center;
  margin: 20px 0 15px;
}

.register-link p a {
  color: #FFF;
  text-decoration: none;
  font-weight: 600;
}

.register-link p a:hover {
  text-decoration: underline;
}

/* .button {
  display: none;
  position: fixed;
  margin-bottom: 20px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
 }
 
 .login {
  cursor: url('/Cursor/icons8-sword-67(1).png'), default;
  background-color: #9dff00;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin-left: 50px;
 }

 .login button {
  margin-left: 50px;
 }
 
 .login:hover {
  background-color: #00eeff;
 }
 
 .login:focus {
  outline: none;
 }
 
 .login:active {
  background-color: aquamarine;
 }
 
 .login-popup {
  display: none;
  background: rgba(255, 255, 255, 0.4);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  max-width: 100%;
}

.login-popup h2 {
  margin-bottom: 40px;
}

.login-popup input[type="text"] {
  margin-bottom: 30px;
}

.login-popup input[type="password"] {
  margin-bottom: 20px;
}
 
 .close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: url('/Cursor/icons8-sword-67(1).png'), default;
 } */

.icon-social {
  position: fixed;
  bottom: 10px;
  left: 10px;
  display: flex;
  gap: 10px;
}

.icon-social img{
  width: 40px;
  height: 40px;
  cursor: url('/Cursor/icons8-sword-67(1).png'), default;
}

.tagliner p{
  text-align: center;
  font-size: 10px;
  color: blue;
}

.cursor-sword {
    cursor: url('/Cursor/icons8-sword-67(1).png'), default;
}